<% if @is_invoice %>
  <% content_for(:title, t('admin.purchase.purchases')) %>
<% end %>
<% if @is_inventory %>
  <% content_for(:title, t('admin.purchase.inventory')) %>
<% end %>
<div class="list-view-wrapper">
  <div class="card card-widget">
    <div class="card-body pb-0">
      <section id="purchase-section">
        <form id="add-invoice-form">
          <div id="invoice-input-area" class="border-btm">
            <%= hidden_field_tag 'mode', @mode %>
            <%= hidden_field_tag 'is_invoice', @is_invoice %>
            <%= hidden_field_tag 'is_inventory', @is_inventory %>
            <%= hidden_field_tag 'select_shop', session[:default_user_shop] %>
            
            <div class="form-row">
              <label class="text-small text-color-highlight ml-1 set-mandatory-lebel"><%= t('admin.purchase.mandatory_label')%></label>
              <% if @is_invoice %>
                <div class="form-group col-6 col-md-4"> 
              <% end %>
              <% if @is_inventory %>
                <div class="form-group col-6 col-md-6"> 
              <% end %>
                <% if @is_invoice %>
                  <label class="text-label font-weight-bold"><%= t('admin.invoice.invoice_no')%>*</label>
                <% end %>
                <% if @is_inventory %>
                  <label class="text-label font-weight-bold"><%= t('admin.invoice.inventory_no')%>*</label>
                <% end %>
                <input id="invoice_no" name="invoice_no" class="form-field ml-auto form-control" type="text">
              </div>
              <% if @is_invoice %>
              <div class="form-group col-6 col-md-4">
                <label class="text-label font-weight-bold"><%= t('admin.invoice.supplier')%>*</label>
                <%= select_tag 'supplier_id', options_from_collection_for_select(@suppliers, :id, :name), class: 'form-control form-control-sm drawer_modal_input_border' %>
              </div>
              <% end %>
              <% if @is_invoice %>
              <div class="form-group col-6 col-md-4">
                <label class="text-label font-weight-bold"><%= t('admin.invoice.payment_method')%>*</label>
                <%= select_tag 'payment_method', options_for_select(StockControl.pay_types_i18n.invert), class: 'form-control form-control-sm drawer_modal_input_border' %>
              </div>
              <% end %>
              <div class="form-group col-6 col-md-6">
                <label class="text-label font-weight-bold"><%= t('admin.invoice.arrival_date')%>*</label>
                <input type="datetime-local" id="arrival_date" name="arrival_date" class="form-field form-control form-control-sm drawer_modal_input_border" />
              </div>
              <div class="form-group col-12 col-md-6">
                <% if @is_invoice %>
                  <label class="text-label font-weight-bold mr-front-label"><%= t('admin.invoice.status')%></label>
                <% end %>
                <% if @is_inventory %>
                <label class="text-label font-weight-bold"><%= t('admin.invoice.status')%></label>
                <% end %>
                  <div class="d-flex">
                    <div class="form-check pl-0">
                      <span class="mr-1"><input id="status" name="status" type="checkbox" class="set-checkbox"></span>
                      <span class="text-normal"><%= t('admin.invoice.invoice_checkbox_label')%></span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div id="stock-control-item-buttons"> 
            <label class="text-label font-weight-bold"><%= t('admin.invoice.label_find_product')%></label>
            <div class="d-flex">
              <%= button_tag :type => "button", id: "btn-find-product", class: "js-modal-open btn button-secondary-active mr-3 p-6 ", disabled: @is_inventory, data: {"target" => "#findProductModal"} do %>
                <span>
                  <i class="fas fa-search mr-2"></i>
                  <%= t 'admin.invoice.find_product' %>
                </span>
              <% end %>
              <% if @is_invoice %>
                <%= button_tag :type => "button", id: "btn-add-product", class: "js-modal-open btn button-secondary-active p-6", data: {"target" => "#addProductModal"} do %>
                  <span>
                    <i class="fas fa-edit mr-2"></i>
                    <%= t 'admin.invoice.add_product' %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row" id="stock-control-list-section">
            <div class="p-2 w-100">
              <ul id="stock-control-list" class="product-info-body p-0">
              
              </ul>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
<% if @is_inventory %>
  <div class="stock-opname-subinfo">
    <span class="text-label" id="total_stock_opname_item">Total <span id="item_count"></span> <%= t('admin.purchase.inventory_subinfo')%></span>
  </div>
<% end %>
<section class="row">
  <div class="col-12">
    <%= button_tag :type => "button", id: "confirm-add-invoice-button", class: "btn-base -thin -primary m-btom-32", disabled: true do %>
    <%= t 'admin.shop_product.save' %>
    <% end %>
  </div>
</section>
<div id="stock-control-item-clone" class="hide product-info-body p-0">
  <li class="list-item list-bg style-none">
    <input type="hidden" class="item__stock__control__id" name="id">
    <input type="hidden" class="item__shop__product__id" name="shop_product_id">
    <input type="checkbox" class="item__is_stock_control hide" name="check_box_value">
    <div class="row">
      <div class="col-md-9 col-9 set-purchase-padding">
        <div class="item__name font-weight-bold text-normal ml-2"></div>
        <div class="item__description text-label ml-2"></div>
      </div>
      <div class="col-md-3 col-3">
        <div class="btn-wrap">
          <button name="button" type="button" class="btn item__destroy">
            <a class="btn-circle-default btn-remove-maintenance_log">
              <i class="icon icon-Delete"></i>
            </a>
          </button>
        </div> 
      </div>
    </div>
    <div class="is_stock_confirm p-top-1rem text-small set-purchase-padding">
      <div class="row">
        <div class="col-md-5 col-8">
          <p><%= t 'admin.purchase.is_stock_confirm_lbl' %></p>
        </div>
        <div class="col-md-4 col-4">
          <span class="set-confirm click_confirm_stock"> <%= t 'admin.purchase.is_stock_confirm' %> </span>
          <span class="click_later_stock"> <%= t 'admin.purchase.is_stock_cancel' %> </span>
        </div>
      </div>
    </div>
    <div class="is_stock_back p-top-1rem text-small set-purchase-padding">
      <div class="row">
        <div class="col-md-5 col-9">
          <p class="mr-2"><%= t 'admin.purchase.is_stock_active_lbl' %></p>
        </div>
        <div class="col-md-4 col-3">
          <span class="ml-2 click_cancel_stock"> <%= image_tag  'ls-undo.svg', class: 'img-responsive custome-icon', alt: 'icon-undo' %> </span>
        </div>
      </div>
    </div>
    <div class="is_stock_cancel p-top-1rem text-small set-purchase-padding">
      <div class="row">
        <div class="col-md-5 col-8">
          <p class="mr-2"><%= t 'admin.purchase.is_stock_cancel_lbl' %></p>
        </div>
        <div class="col-md-4 col-4">
          <span class="ml-2 click_reset_stock"> <%= image_tag  'ls-undo.svg', class: 'img-responsive custome-icon', alt: 'icon-undo' %> </span>
        </div>
      </div>
    </div>
    <div class="row set-purchase-padding mt-8">
      <% if @is_invoice %>
        <div class="col-md-3 col-4 mr-2">
          <label class="text-label font-weight-bold text-left"><%= t('admin.invoice.quantity')%></label>
        </div>
        <div class="col-md-4 col-7">
          <label class="text-label font-weight-bold text-left"><%= t('admin.invoice.invoice_unit_price')%></label>                              
        </div>
        <div class="col-md-12 col-12"></div>
        <div class="col-md-3 col-4 mr-2">
          <input class="form-field item__incoming__stock formated_input_number" name="quantity" type="text" required />
        </div>
        <div class="col-md-4 col-7">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text price_addon">Rp.</div>
            </div>
            <input name="purchase_unit_price" type="text" class="form-field product_unit_price_edit item__purchase__unit__price formated_input_number" required>
            <p class="invoice-total text-small mt-1 mr-2 item-total"><%= t('admin.invoice.invoice_total')%></p>
            <span class="text-small item-total mt-1" id="item__total"></span>
          </div>
        </div>
      <% elsif @is_inventory %>
        <div class="col-md-3 col-4">
          <label class="text-label font-weight-bold text-left"><%= t('admin.invoice.stock')%></label>
        </div>
        <div class="col-md-3 col-4">
            <label class="text-label font-weight-bold text-left"><%= t('admin.invoice.inventory_actual')%></label>
        </div>
        <div class="col-md-3 col-4">
          <label class="text-label font-weight-bold text-left"><%= t('admin.invoice.difference')%></label>
        </div>
        <div class="col-md-12 col-12"></div>
        <div class="col-md-3 col-4">
          <div class="item__stock"></div>
        </div>
        <div class="col-md-3 col-4">
          <input class="form-field item__incoming__stock formated_input_number custome-width" name="quantity" type="text" required />
        </div>
        <div class="col-md-3 col-4">
          <div class="input-group">
            <div class="item__stock_difference d-flex align-items-center"><span></span></div>
          </div>
        </div>
      <% end %>
    </div>
  </li>
</div>
<%= link_to "", admin_shop_invoices_path(mode: @mode), class: 'hide', id: 'invoice_list_link' %>
<input type="hidden" id="dialog__confirm_title" value="<%= t('admin.purchase.delete_confirm') %>">
<input type="hidden" id="dialog_delete_confirm_message" value="<%= t('admin.purchase.delete_question') %>">
<input type="hidden" id="dialog_delete_confirm_ok" value="<%= t('delete') %>">
<input type="hidden" id="dialog_delete_confirm_cancel" value="<%= t('cancel') %>">
<%= render "modal_add_product" %>
<%= render "modal_find_product" %>

<div class="modal fade" id="stockControlNotif" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-title stock-control-title-modal text-normal"><%= t('admin.purchase.modal_label') %> <span class="item_stock_list_count"></span> <%= t('admin.purchase.modal_label_next') %></div>
        <div class="stock-control-title-modal text-normal"> <%= t 'admin.purchase.modal_sub_label' %> </div>
        <div class="stock-btn-wrapper">
          <button type="button" class="btn btn-default cancel-btn-modal text-large mr-2" data-dismiss="modal"><%= t 'admin.purchase.modal_btn_cancel' %></button>
          <button type="button" class="btn btn-primary confirm-add-invoice-button-modal set-confirm-padding text-large" data-dismiss="modal"><%= t 'admin.purchase.modal_btn_confirm' %></button>
        </div>
      </div>
    </div>
  </div>
</div>
