
<% content_for(:title, t('console.customer.maintenance_log')) %>
<div class="card card-secondary">
  <div class="card-header"><%= t 'console.customer.registration_information' %></div>
  <div class="card-body p-0">
    
    <table class="table">
      <tr>
        <th style="width:20%"><%= t 'console.customer.registration_number' %></th>
        <td><%= formatedNumberPlate(@maintenance_log) %></td>
      </tr>
      <tr>
        <th><%= t 'console.customer.expilation_date' %></th>
        <td><%= formatedExpirationDate(@maintenance_log) %></td>
      </tr>
      <tr>
        <th><%= t 'console.customer.odometer' %></th>
        <td><%= formatedDecimalPoint(@maintenance_log.odometer) if @maintenance_log.odometer.present? %></td>
      </tr>
    </table>
  </div>
</div>
<div class="card card-secondary">
  <div class="card-header"><%= t 'console.customer.vehicle_information' %></div>
  <div class="card-body p-0">
    
    <table class="table">
      <tr>
        <th style="width:20%"><%= t 'console.common.maker' %></th>
        <td><%= @maintenance_log.maker %></td>
      </tr>
      <tr>
        <th><%= t 'console.common.model' %></th>
        <td><%= @maintenance_log.model %></td>
      </tr>
      <tr>
        <th><%= t 'console.customer.mileage' %></th>
        <td><%= @maintenance_log.mileage %></td> 
      </tr>
    </table>
  </div>
</div>
<div class="card card-secondary">
  <div class="card-header"><%= t 'console.common.order' %></div>
  <div class="card-body">
    <table class="maintenance_log_details-box table">
        <thead>
          <th><%= t 'console.customer.product_service' %></th>
          <th><%= t 'console.common.quantity' %></th>
          <th><%= t 'console.customer.subtotal' %></th>
        </thead>
        <tbody>
        <% @maintenance_log.maintenance_log_details.each do |detail| %>
          <tr class="nested-fields">
            <td>
              <%= detail.name %>
            </td>
            <td class="text-right"><%= detail.quantity || 0 %></td>
            <td class="text-right"><%= "#{detail.subtotal.to_i.to_s(:delimited, delimiter: '.')}" unless detail.subtotal.nil? %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-right mt-auto"><%= t 'console.common.total' %>： Rp. <%= @maintenance_log.total_price.to_i.to_s(:delimited, delimiter: '.') %></td>
          </tr>
        </tfoot>
      </table>
  </div>
</div>
