<% content_for(:title, t('console.customer.cuntomer_basic')) %>
<%= render 'nav' %>
<div class="card card-secondary">
  <div class="card-header"><%= t 'console.customer.basic_information' %></div>
  <div class="card-body p-0">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= t 'console.common.customer_id' %></th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th><%= t 'console.common.name' %></th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th><span class="phone_number_show"><%= t 'console.common.tel' %></span></th>
          <td>
            <span class="phone_number_show"><%= formatedPhoneNumber(@customer.tel) %></span>
            <%= link_to t('console.common.edit'), console_customer_edit_phone_number_path, class: 'btn btn-primary float-right' %>
          </td>
        </tr>
        <tr>
          <th><%= t 'console.customer.email' %></th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th><%= t 'console.customer.gender' %></th>
          <td><%= @customer.gender %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card card-secondary">
  <div class="card-header"><%= t 'console.customer.owned_bikes' %></div>
  <div class="card-body p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t 'console.common.maker' %></th>
          <th><%= t 'console.common.model' %></th>
          <th><%= t 'console.common.number' %></th>
          <th><%= t 'console.customer.expilation_date' %></th>
          <th><%= t 'admin.customer.odometer' %></th>
        </tr>
      </thead>
      <tbody>
        <% @customer.owned_bikes.each do |bike| %>
          <tr>
            <td><%= bike.maker unless bike.maker.nil? %></td>
            <td><%= bike.model unless bike.model.nil? %></td>
            <td><%= formatedNumberPlate(bike) %></td>
            <td><%= formatedExpirationDate(bike) %></td>
            <td><%= formatedDecimalPoint(bike.odometer) if bike.odometer.present? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if current_user.admin_roles? && @customer.terms_agreed_at.present? %>
  <div class="card card-secondary">
    <div class="card-header">
      <span><%= t 'console.common.config' %></span>
      <%= link_to console_customer_edit_path, class: 'nav-link float-right p-0' do%>
        <i class="fa fa-cog"></i>
      <% end %>
    </div>
    <div class="card-body p-0">
      <table class="table">
        <tbody>
          <tr>
            <th><%= t 'console.customer.send_dm' %></th>
            <td><%= @customer.send_dm %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
