<%= render 'search' %>
<h2><%= t 'console.subscription.subscriptions' %></h2>
<div class="card">
  <div class="card-body list p-4">
    <% unless @subscriptions.empty? %>
    <div class="d-flex justify-content-center"><%= paginate @subscriptions %></div>
      <div class="table-responsive">
        <table class="table table-hover table-sticky">
          <thead>
            <tr>
              <th><%= t 'console.subscription.owner' %></th>
              <th><%= t 'console.subscription.nama_bengkel' %></th>
              <th><%= t 'console.subscription.bengkel_ids' %></th>
              <th><%= t 'console.subscription.plan' %></th>
              <th><%= t 'console.subscription.status' %></th>
              <th><%= t 'console.subscription.period' %></th>
              <th><%= t 'console.subscription.fee' %> (Rp.)</th>
              <th><%= t 'console.subscription.exp_date' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @subscriptions.each do | subscription | %>
            <tr>
              <td><%= subscription.shop_group&.owner_name %></td>
              <td><%= subscription.shop&.name %></td>
              <td><%= subscription.shop&.bengkel_id %></td>
              <td><%= Subscription.plans_i18n[subscription.plan] %></td>
              <td><%= Subscription.statuses_i18n[subscription.status] %></td>
              <td><%= Subscription.periods_i18n[subscription.period] %></td>
              <td><%= formatedRupiah(subscription.fee) %></td>
              <td>
                <% if subscription.days_remaining >= 0 && subscription.end_date.present? %>
                  <%= formatedDate(subscription.end_date) + " (#{subscription.days_remaining} Days)" if subscription.end_date.present? %>
                <% end %>
              </td>
              <td><%= link_to (t 'console.common.detail'), edit_console_subscription_path(subscription.id), :class => 'btn btn-primary' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p><%= t 'console.subscription.no_subscription_msg' %></p>
    <% end %>
  </div>
</div>