<div class="card card-widget">
  <div class="card-header color-text-table-header py-4">
    <h3 class="card-title text-large text-uppercase"><%= t 'admin.shop_setting.change_password' %></h3>
  </div>
  <div class="card-body p-0">

    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        <ul>
          <%  @user.errors.full_messages.each do |message| %>
          <li class="text-normal"><%= message %></li>
          <% end %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="form-group row p-3">
      <label class="text-normal col-4 col-md-4 col-form-label"><%= t 'admin.shop_setting.old_password' %></label>
      <div class="col-7 col-md-7">
        <%= f.password_field :current_password, :class=>'form-control', :required=>'true' %>
      </div>
      <div class="col-1 col-md-1 text-normal align-self-center text-color-disabled ">
        <i class="far fa-eye show_password"></i>
      </div>
    </div>

    <div class="form-group row p-3">
      <label class="text-normal col-4 col-md-4 col-form-label"><%= t 'admin.shop_setting.new_password' %></label>
      <div class="col-7 col-md-7">
        <%= f.password_field :password, :class=>'form-control', :required=>'true' %>
      </div>
      <div class="col-1 col-md-1 text-normal align-self-center text-color-disabled ">
        <i class="far fa-eye show_password"></i>
      </div>
    </div>
    <div class="form-group row p-3 ">
      <label class="text-normal col-4 col-md-4 col-form-label"><%= t 'admin.shop_setting.retype_new_password' %></label>
      <div class="col-7 col-md-7">
        <%= f.password_field :password_confirmation, :class=>'form-control', :required=>'true' %>
      </div>
      <div class="col-1 col-md-1 text-normal align-self-center text-color-disabled ">
        <i class="far fa-eye show_password"></i>
      </div>
    </div>
  </div>
</div>
<div class="mb-5">
  <%= link_to admin_shop_setting_path, :class => 'text-large btn button-secondary-active' do %><%= t 'admin.shop_setting.cancle' %><% end %>
  <button class="text-large btn button-active ml-2" type="submit"><%= t 'admin.shop_setting.save' %></button>
</div>