<div class="card-body">
  <div class="form-group">
    <div class="d-flex justify-content-between">
      <label>File template Bulk Input Shop Product</label>
      <%= link_to console_shop_products_template_export_path(format: :csv), class: "input-group-text btn btn-outline-secondary", data: { disable_with: 'Downloading...' } do %>
        <i class="fas fa-file-export mr-1"></i> Download
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <label><%= t 'console.shop_product.import.label_select_file' %></label>
    <div class="input-group">
      <div class="custom-file">
        <%= f.file_field :file, class: "custom-file-input", id: "productInputFile" %>
        <label class="custom-file-label" for="productInputFile">Choose file(.csv)</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label><%= t 'console.shop_product.import.label_select_shop' %></label>
    <div class="d-flex justify-content-between">
      <%= f.collection_select :shop_id, current_user.managed_shops, :id, :bengkel_id_name, { :include_blank => false, prompt: "Choose bengkel" }, { :class=>'form-control mr-2' } %>
      <%= f.button :type => "submit",  class: "input-group-text btn btn-outline-secondary", disabled: true, id: 'import-file-upload', data: { disable_with: 'Uploading...' } do %>
        <i class="fas fa-file-import mr-1"></i> Upload
      <% end %>
    </div>
  </div>
  <% if shop_product_upload.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="fas fa-ban"></i> <%= pluralize(shop_product_upload.errors.count, "error") %> prohibited this File from being uploaded:</h5>
      <ul>
      <% shop_product_upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
