<% content_for(:title, "Stok Tipis") %>

<%= form_with url: admin_low_stock_report_path, local: true, method: :get do |f| %>
  <div class="card card-widget">
    <div class="card-body">
    <div class="form-row">
      <div class="form-group col-6">
        <%= f.label :select_category, t('admin.common.category'), class: 'text-label' %>
        <div>
        <%= f.select :select_category, ProductCategory.all.order(id: :asc).pluck(:name, :id), { include_blank: 'Semua', selected: @select_category}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group col-6">
        <%= f.label :sort, "Sortir", class: 'text-label' %>
        <div>
        <%= f.select :sort, @sort, {selected: @select_sort}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <%= f.submit t('admin.common.search'), class: 'btn btn-primary form-control', id: 'report-filter', hidden: true %>
    </div>
  </div>

 
  <% if @product_list.any? %>
    <div class="card card-widget">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table fixed-column-table">
            <thead class="thead-light text-label">
              <tr>
                <th class="align-top">Nama Produk</th>
                <th class="align-top">Stok</th>
                <th class="align-top">Min</th>
                <th class="align-top">Kategori</th>
                <th class="align-top"><%= t 'admin.common.detail' %></th>
              </tr>
            </thead>
            <tbody class="text-label">
              <% @product_list.each do |item| %>
                <tr
                class="item-detail"
                data-shop-product-id="<%= item.id %>" 
                data-shop-alias-name="<%= item.shop_alias_name %>" 
                data-category="<%= item.product_category.name %>"
                data-product-no="<%= item.product_no %>"
                data-availability="<%= item.is_use %>"
                data-admin-product-name="<%= item.admin_product&.name %>"
                data-price="<%= item.sales_unit_price %>"
                data-item-detail="<%= item.item_detail %>"
                data-is-stock-control="<%= item.is_stock_control %>"
                data-stock-minimum="<%= item.stock_minimum %>"
                >
                  <td><%= item.shop_alias_name %></td>
                  <td><%= Stock.find_by(shop_product_id: item.id).quantity.to_i %></td>
                  <td><%= item.stock_minimum %></td>
                  <td><%= item.product_category.name %></td>
                  <td>
                  <button name="button" type="button" class="btn btn-primary">
                    <i class="fas fa-eye js-modal-open" data-target="#detailProductModal"></i>
                  </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <div class="no_search_result color-text-table-header p-3 text-center">
      <p class="font-italic text-normal m-0">Tidak ada data yang bisa disajikan</p>
    </div>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate @product_list, window: 1 %>
</div>

<%= render "modal_detail_product" %>
