<% content_for(:title, 'Varian Product') %>
 
<%= render 'search' %>

<%= form_with url: console_variants_edit_multiple_path, method: :post, local: :true do |f| %>
  <div class="card content-datatable">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-sticky">
          <thead>
            <tr>
              <th><%= sort_link(@q, :name, t('console.variant.variant_name'), {hide_indicator: true}, {class: 'sort-link'}) %></th>
              <th><%= sort_link(@q, :product_category_name, t('console.common.category'), {hide_indicator: true}, {class: 'sort-link'}) %></th>
              <th><%= t('console.common.enabled') %></th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          <% @variants.each do |variant| %>
            <tr data-variant-id="<%= variant.id %>">
              <td>
                <%= variant.name %>
              </td>
              <td>
                <%= variant&.product_category&.name %>
              </td>
              <td>
                 <%= fields_for "variants[]", variant do |f| %>
                   <%= f.check_box :active, data: {toggle: 'toggle', on: 'Ya', off: 'Tidak_'} %>
                 <% end %>
              </td>
              <td class="text-right">
                <%= link_to edit_console_variant_path(variant),:class => 'btn btn-primary mb-0' do %>
                  <i class="fas fa-edit"></i>&nbsp;<%= t 'console.common.edit'  %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <%= link_to new_console_variant_path,:class => 'btn footer-btn' do %>
            <i class="fas fa-plus"></i>&nbsp;<%= t 'console.variant.add_variant' %>
          <% end %>
        </div>
        <div>
           <%= f.submit t('console.common.update'), :class=>'btn footer-btn-update text-white' %>
         </div>
      </div>
    </div>
  </div>
<% end %>
