<div>
<%= form_with url: checkin_url, local: true, html:{novalidate: true} do |f| %>
  <div class="card card-otoraja">
    <div class="card-header">
      <h1>Check in</h1>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <%= render 'layouts/step_progress', items:['Masuk', 'Kententuan', 'Konfirmasi', 'Info'], active: 'Masuk' %>
        </div>
      </div>
      <%= render 'layouts/flash_alert' %>
      <div class="row mt-4">
        <div class="col">
          <div class="row mb-4">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span id="searching" class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                    <i id="unsearching" class="fas fa-search"></i>
                  </span>
                </div>
              <%= f.text_field :search_word, class: 'form-control', autofocus: true, autocomplete: 'off', inputmode: 'numeric' %>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-6">
              <%= link_to '#', class:'btn btn-primary btn-block' ,data: {"toggle" => "modal", "target" => "#modalRegisterByTel", "backdrop" => "static"} do %><i class="fas fa-user"></i> Daftar Dengan Nomor HP<% end %>
            </div>
            <div class="col-6">
              <%= link_to '#', class:'btn btn-primary btn-block', data: {"toggle" => "modal", "target" => "#modalRegisterByNumberplate", "backdrop" => "static"} do %><i class="fas fa-motorcycle"></i> Daftar Dengan No. polisi<% end %>
            </div>
          </div>

          <div id="no_hit" class="row mb-3 text-center hide">
            <div class="col">
              <span class="h4">no hit !!</span>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table" id="customer_list">
                <thead class="search_header hide">
                  <tr>
                    <td class="h6" width="20%">name</td>
                    <td class="h6" width="35%">tel</td>
                    <td class="h6" width="20%">number plate</td>
                    <td class="h6" width="25%">last checkin</td>
                  </tr>
                </thead>
                <tbody class="search_result hide">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hide">
      <%= f.hidden_field :customer_id %>
      <%= f.submit 'suggest', class: 'btn btn-primary', name: 'suggest_checkin', id: 'suggest_checkin_btn' %>
      <%= f.submit 'Daftar Dengan Nomor HP', class: 'btn btn-lg btn-primary btn-block', name: 'phone_checkin', id: 'phone_checkin_submit'%>
      <%= f.submit 'Daftar Dengan No. polisi', class: 'btn btn-lg btn-primary btn-block', name: 'plate_checkin', id: 'plate_checkin_submit'%>
    </div>
    
    <div class="footer-center-right">
      <%= link_to front_index_path, class: 'btn btn-primary btn-lg btn-submit' do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to '#', class:'btn btn-default btn-lg position-right', data: {"toggle" => "modal", "target" => "#confirmNamelessCheckinModal", "backdrop" => "static"} do %>
        Skip  <i class="fas fa-chevron-right"></i>
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalRegisterByTel" tabindex="-1" role="dialog" aria-labelledby="modalRegisterByTelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegisterByTelLabel">Masukkan no telpon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="phone_valid_err_msg" class="row mb-3 small text-danger"></div>
          <div class="row mb-3">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <%= f.select :phone_country_code, @country_code_list, {selected: @phone_country_code}, {class: 'form-control form-control-lg select-country'} %>
                </div>
                <%= f.telephone_field :phone_national, class: 'form-control form-control-lg', autocomplete: 'off' %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button disabled id="phone_num_checkin_btn" type="button" class="btn btn-lg btn-primary btn-block">Daftar Dengan Nomor HP</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalRegisterByNumberplate" tabindex="-1" role="dialog" aria-labelledby="modalRegisterByNumberplateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegisterByNumberplateLabel">Masukkan No. polisi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="numberplate_valid_err_msg" class="row mb-3 small text-danger"></div>
          <div class="row mb-3">
            <div class="col-4">
              <%= f.label :number_plate_area, 'Area', :class => 'h5' %>
              <%= f.select :number_plate_area, MaintenanceLog.number_plate_areas.keys.to_a, {include_blank: '',selected: 'B'}, {:class=>'form-control form-control-lg'} %>
            </div>
            <div class="col-4">
              <%= f.label :number_plate_number, 'Number', :class => 'h5' %>
              <%= f.number_field :number_plate_number, :class=>'form-control form-control-lg', autocomplete: 'off', oninput: 'if(value.length>4)value=value.slice(0,4)' %>
            </div>
            <div class="col-4">
              <%= f.label :number_plate_pref, 'Pref', :class => 'h5' %>
              <%= f.url_field :number_plate_pref, :class=>'form-control form-control-lg', autocomplete: 'off',  oninput: 'value=value.toUpperCase();if(value.length>3)value=value.slice(0,3)' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button disabled id="num_plate_checkin_btn" type="button" class="btn btn-lg btn-primary btn-block">Daftar Dengan No. polisi</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmNamelessCheckinModal" tabindex="-1" role="dialog" aria-labelledby="confirmNamelessCheckinModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmNamelessCheckinModal">Daftar Tanpa Nama</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Daftar Tanpa Nama</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <%= f.submit 'OK', class: 'btn btn-primary', name: 'anonymous'%>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<% end %>
</div>
