<div class="card-body">

  <% if config.errors.any? %>
  <div class="callout callout-danger">
    <h2><%= pluralize(config.errors.count, "error") %> prohibited this User from being saved:</h2>
    <ul>
      <% config.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <p class="h3"><%= t 'admin.shop_config.questionnaire' %></p>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group">
        <%= f.label :questionnaire_expiration_days, t('admin.shop_config.questionnaire_url') %>
        <div class="input-group">
          <%= f.number_field :questionnaire_expiration_days, :class=>'form-control text-right' %>
          <div class="input-group-append">
            <span class="input-group-text"><%= t 'admin.shop_config.days' %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <%= f.label :message_send_time, t('admin.shop_config.message_send_time') %>
      <div class="form-group form-inline">
        <%= t 'admin.shop_config.everyday' %>
        <%= f.select :hour, hoursArray(), {:selected => formatedTimeHour(config.message_send_time, 'Jakarta')}, {:class=>'form-control mx-2'} %> :
        <%= f.select :min, minsArray(15), {:selected => config.message_send_time.min}, {:class=>'form-control mx-2'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="h3"><%= t 'admin.shop_config.front' %></p>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group">
        <div>
          <%= f.label :front_priority_display, t('admin.shop_config.front_priority_display') %>
        </div>
        <div class="btn-group-toggle btn-group" data-toggle="buttons">
          <% ShopConfig.front_priority_displays.each do |key, val| %>
          <label class="btn btn-outline-secondary <%= 'active' if config.front_priority_display == key %>"><%= f.radio_button :front_priority_display, key, {:class=>'form-control'} %> <%= key %></label>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="h3"><%= t 'admin.shop_config.custome_reminder' %></p>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group">
        <%= f.label :customer_remind_interval_days, t('admin.shop_config.remind_interval_days') %>
        <div class="input-group">
          <%= f.number_field :customer_remind_interval_days, :class=>'form-control text-right' %>
          <div class="input-group-append">
            <span class="input-group-text"><%= t 'admin.shop_config.days' %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group form-check">
        <%= f.check_box :use_customer_remind, :class=>'form-check-input' %>
        <%= f.label :use_customer_remind, t('admin.shop_config.use_customer_remind'), :class=>'form-check-label'  %>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="h3"><%= t 'admin.common.receipt' %></p>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group form-check">
        <%= f.check_box :use_receipt, :class=>'form-check-input' %>
        <%= f.label :use_receipt, t('admin.shop_config.use_recipt'), :class=>'form-check-label'  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group">
        <div>
          <%= f.label :receipt_layout, t('admin.shop_config.recipt_layout') %>
        </div>
        <div class="btn-group-toggle btn-group" data-toggle="buttons">
          <% ShopConfig.receipt_layouts.each do |key, val| %>
          <label class="btn btn-outline-secondary <%= 'active' if config.receipt_layout == key %>"><%= f.radio_button :receipt_layout, key, {:class=>'form-control'} %> <%= key %></label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group">
        <%= f.label :receipt_open_expiration_days, t('admin.shop_config.public_receipt_url') %>
        <div class="input-group">
          <%= f.number_field :receipt_open_expiration_days, :class=>'form-control text-right' %>
          <div class="input-group-append">
            <span class="input-group-text"><%= t 'admin.shop_config.days' %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="h3"><%= t 'admin.shop_config.stock_management' %></p>
  </div>
  <div class="row">
    <div class="col-auto">
      <%= f.label :close_stock_time, t('admin.shop_config.close_stock_time') %>
      <div class="form-group form-inline">
        <%= t 'admin.shop_config.everyday' %>
        <%= f.select :close_stock_time_hour, hoursArray(), {:selected => formatedTimeHour(config.close_stock_time, 'Jakarta')}, {:class=>'form-control mx-2'} %> :
        <%= f.select :close_stock_time_min, minsArray(15), {:selected => config.close_stock_time.min}, {:class=>'form-control mx-2'} %>
      </div>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-auto">
      <b><%= t 'admin.shop_config.stock_notification_destination' %></b>
      <div class="input-group">
        <div class="input-group-prepend">
          <%= f.select :phone_country_code, @country_code_list, {selected: @phone_country_code}, {class: 'form-control select-country'} %>
        </div>
        <%= f.telephone_field :phone_national, class: 'form-control', autocomplete: 'off', value: @phone_national %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group form-check">
        <%= f.check_box :use_stock_notification, :class=>'form-check-input' %>
        <%= f.label :use_stock_notification, t('admin.shop_config.use_stock_notification'), :class=>'form-check-label'  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group form-check">
        <%= f.check_box :use_record_stock, :class=>'form-check-input' %>
        <%= f.label :use_record_stock, t('admin.shop_config.use_record_stock'), :class=>'form-check-label'  %>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="h3"><%= t 'admin.shop_config.payment_method' %></p>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="form-group">
        <div>
          <%= f.label :payment_method, t('admin.shop_config.available_payment_methods') %>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <% PaymentMethod.all.each do |payment_method| %>
            <label class="btn btn-outline-secondary <%= 'active' if config.shop.payment_methods.include?(payment_method) %>"><%= f.check_box :payment_methods, {multiple:true, checked: config.shop.payment_methods.include?(payment_method)}, payment_method.id, nil %> <%= payment_method.name %></label>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :search_tags, t('console.shop.tags') %>
    <div class="row">
      <div class="col-5">
        <p><%= t('console.shop.edit.available') %></p>
        <select name="" id="shop_multiselect" class="form-control" size="22" multiple="multiple">
          <% ShopSearchTag.own_shop(shop.id).each_with_index do |tag|%>
            <% unless tag.is_using?%>
            <option value="<%= tag.id %>" data-tag-order="<%= tag.order %>" data-is-using="<%= tag.is_using%>" data-shop="<%= tag.shop_id%>"><%= tag.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>

      <div class="col-2" id="shop_multiselect_controls">
        <button type="button" id="shop_multiselect_rightAll" class="btn btn-block btn-default"><i class="fas fa-arrow-right"></i></button>
        <button type="button" id="shop_multiselect_rightSelected" class="btn btn-block btn-default"><i class="fas fa-chevron-right"></i></button>
        <button type="button" id="shop_multiselect_leftSelected" class="btn btn-block btn-default"><i class="fas fa-chevron-left"></i></button>
        <button type="button" id="shop_multiselect_leftAll" class="btn btn-block btn-default"><i class="fas fa-arrow-left"></i></button>
        <button type="button" id="shop_multiselect_edit" class="btn btn-block btn-primary"><i class="far fa-edit"></i></button>
      </div>

      <div class="col-5">
        <p><%= t('console.shop.edit.using') %></p>
        <select name="" id="shop_multiselect_to" class="form-control" size="22" multiple="multiple">
          <% ShopSearchTag.own_shop(shop.id).each_with_index do |tag|%>
            <% if tag.is_using? %>
            <option value="<%= tag.id %>" data-tag-order="<%= tag.order %>" data-is-using="<%= tag.is_using%>" data-shop="<%= tag.shop_id%>"><%= tag.name %></option>
            <% end %>
          <% end %>
        </select>
        <div class="row pt-3 pb-3">
            <div class="col-6">
                <button type="button" id="shop_multiselect_move_up" class="btn btn-block btn-default"><i class="fas fa-chevron-up"></i></button>
            </div>
            <div class="col-6">
                <button type="button" id="shop_multiselect_move_down" class="btn btn-block btn-default"><i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
      </div>
    </div>
  <div>
</div>

<div class="card-footer">
  <div class="row">
    <div class="col-12 text-right">
      <%= link_to t('admin.common.back'), admin_shop_configs_path, class: 'btn btn-default btn-lg' %>
      <%= f.submit t('admin.common.regist'), :class=>'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>
