<% if @customize_shop_product_lists.count > 0 %>
<% @customize_shop_product_lists.each do |customize_list| %>
<li class="list-record">
  <input type="hidden" name="customize_shop_list_id" class="customize_shop_list_id" value="<%= customize_list.id %>">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col pr-0">
      <i class="icon icon-Folder"></i> 
    </div>
    <div class="col-7 pl-0">
      <span class="list-name"><%= customize_list.name %></span>
      <p class="num-of-item my-3">number of items <span class="item-count ml-2"><%= customize_list.orderd_shop_products.count %></span></p>
    </div>
    <div class="col text-center">
      <% if customize_list.can_add_all && customize_list.orderd_shop_products.count > 0 %>
      <p class="btn-title">Add</p>
      <%= button_tag :type => "button", class: "btn-circle-default add-all" do %>
        <i class="icon icon-Plus"></i>
      <% end %>
      <% end %>
    </div>
    <div class="col text-center">
      <p class="btn-title">Detail</p>
      <%= button_tag :type => "button", class: "btn-circle-default list-detail" do %>
        <i class="icon icon-Detail"></i>
      <% end %>
    </div>
  </div>
  <div class="list-detail hide">
    <ul>
    <% customize_list.orderd_shop_products.each do |product| %>
      <%= render 'api/shop_products/product_record', {product: product} %>
    <% end %>
    </ul>
  </div>
</li>
<% end %>
<% end %>
