
<!DOCTYPE html>
<html>

<head>
  <title>Biz OTORAJA</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'console' %>
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body id="<%= sprintf("%s_%s",controller_name,action_name) %>" class="sidebar-mini layout-fixed" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<div class="wrapper">
  <%= render 'layouts/console/header' %>

  <%= render 'layouts/console/sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="d-flex justify-content-between">
          <h1 class="m-0 text-dark"><%= yield :title %></h1>
          <% if content_for?(:show_daily_history) %>
            <%= link_to '#', class: "btn btn-primary", data: {"toggle" => "modal", "target" => "#dailyHistoryModal", "backdrop" => "static"} do %>
              <%= t 'console.stock.daily_history' %>
            <% end %>
          <% end %>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <%= render 'layouts/flash' %>

        <%= yield %>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%= render 'layouts/console/footer' %>
</div>
</body>

</html>
