
 <div id="confirmationModalRestoreProduct" class="modal fade mt-5" tabindex="-1">
   <div class="modal-dialog">
     <div class="modal-content bg-light">
      <div class="loading-restore-product p-5 hide">
         <div class="text-center">
           <p class="text-center font-weight-bold text-large"><%= t 'admin.product_non_active.start_delete_product'%></p>
           <i class="fas fa-spinner fa-spin text-large"></i>
         </div>
       </div>
       <div class="confirmation-content">
        <div class="modal-body pb-0">
          <p class="text-center font-weight-bold text-large"><%= t 'admin.product_non_active.confirmation_restore_product' %></p>
          <p class="text-center text-normal"><%= t 'admin.product_non_active.confirmation' %></p>
        </div>
        <div class="modal-footer border-0 justify-content-center flex-nowrap">
          <button type="button" class="text-large btn-base -thin -normal" data-dismiss="modal"><%= t 'admin.shop_product.cancel' %></button>
          <button id="confirmRestoreProduct" type="button" class="text-large btn-base -thin -primary"><%= t 'admin.shop_product.confirm' %></button>
        </div>
      </div>
     </div>
   </div>
 </div>