<% content_for(:title, 'update password') %>

<%= form_with(model: @user, url: admin_password_update_path, local: true) do |f| %>

<div class="card">   
  <div class="card-body">
    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="fas fa-ban"></i> <%= pluralize(@user.errors.count, "error") %> prohibited this File from being uploaded:</h5>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% unless current_user.owner? %>
    <div class="form-group">
      <%= f.label :current_password, "Current Password", :class => "form-label" %>
      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, "New Password", :class => "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "New Password Confirmation", :class => "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
    </div>

    <%= f.hidden_field :id %>
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <%= link_to "Back", :back, :class => "btn btn-secondary" %>
      <%= f.submit "Update", :class => "btn btn-primary" %>
    </div>
  </div>

</div>
<% end %>
