<div class="content-header supplier-header-mtop">
  <div class="row">
    <div class="text-page-title font-weight-bold col-6">
      <%= t('admin.supplier.supplier') %>
    </div>
    <div class="supplier-add-btn col-6">
      <%= link_to new_admin_supplier_path,:class => 'btn button-secondary-active text-large' do %>
        <i class="fas fa-plus mr-2"></i> <%= t 'admin.supplier.add_btn' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'search' %>

<div class="card">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover table-sticky text-normal">
        <thead>
          <tr>
            <th><%= sort_link(@q, :name, t('admin.common.name'), {hide_indicator: true}, {class: 'sort-link'}) %></th>
            <% if current_user.admin_roles? %>
            <th><%= sort_link(@q, :shop_id, t('admin.common.shop'), {hide_indicator: true}, {class: 'sort-link'}) %></th>
            <% end %>
            <th class="text-nowrap"><%= t('admin.supplier.address_and_tel') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td class="text-align-top"><%= supplier.name %></td>
            <% if current_user.admin_roles? %>
            <td class="text-align-top"><%= supplier.shop.name %></td>
            <% end %>
            <td class="text-align-top"><%= supplier.address %><br><%= "(#{supplier.tel})" if supplier.tel.present? %></td>
            <td class="text-right text-align-top">
              <%= link_to edit_admin_supplier_path(supplier), :class => 'btn btn-primary' do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @suppliers, window: 1 %>
</div>
