<div class="card card-widget">
  <div class="card-header" data-card-widget="collapse">
    <h3 class="card-title">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-up"></i>
      <%= t 'console.common.filter' %>
    </h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="d-flex align-items-end">
      <%= search_form_for @q, url:console_shops_path, class: 'd-flex align-items-end' do |f| %>
      <div class="form-group mr-3">
        <label><%= t 'console.common.keyword' %> <i class="fas fa-info-circle" data-html="true" data-toggle="tooltip" title="<%= Shop.human_attribute_name(:name) %>"></i></label>
        <%= f.search_field :name_cont, class: 'form-control', autocomplete: 'off' %>
      </div>
      <div class="form-group mr-3">
        
        <% if params[:pilot_shops].present? %>
          <%= check_box_tag :pilot_shops,1, {checked: true} %>
          <%= label_tag :pilot_shops, 'Pilot Shops' %>
        <% else %>
          <%= check_box_tag :pilot_shops,1 %>
          <%= label_tag :pilot_shops, 'Pilot Shops' %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit ("Search") , class: 'btn btn-primary'%>
      </div> 
      <% end %>
    </div>
  </div>
  <!-- /.card-body -->
</div>
