<div class="card-body">
  <% if tech_spec.errors.any? %>
    <div class="callout callout-danger">
      <h4><%= t('console.tech_spec.tech_spec_error') %></h4>
      <ul>
        <% tech_spec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, t('console.tech_spec.tech_spec_name') %>
    <%= f.text_field :name, :class=>'form-control', autofocus: true, autocomplete: 'off' %>
    <p class="font-weight-light"><%= t('console.tech_spec.tech_spec_info') %></p>
  </div>
  <div class="form-group">
    <%= f.label :category, t('console.common.category') %>
    <div>
      <%= f.select :product_category_id, ProductCategory.all.pluck(:name, :id), {}, :class => "form-control use_select2" %>
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="row">
    <div class="col text-right">
      <%= link_to t('console.common.back'), console_tech_specs_path, class: 'btn btn-default btn-lg' %>
      <% if controller.action_name.in?(['new', 'create']) %>
        <%= f.submit t('console.common.regist'), :class=>'btn btn-primary btn-lg' %>
      <% else %>
        <%= f.submit t('console.common.update'), :class=>'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
